.container {
  display: flex;
  padding: 10px;
  height: 100%;
  flex-direction: column;
}

.list {
  justify-content: space-between;
  user-select: none;
}

.nameAndScore {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
}

.score {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.score {
  display: flex;
  align-items: center;
}